Import Libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Import Data and Analysis

In [ ]:
# import dataset to pandas Dataframe
df=pd.read_csv('/content/diabetes.csv')

In [ ]:
#Show the dataset
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
#Show datatypes of the categories
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

Data from 768 females
9 categories

In [ ]:
# number of samples and categories
df.shape

(768, 9)

In [ ]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

The "Outcome" category is boolean (int showing 0 & 1)
0 = Non-Diabetic
1 = Diabetics

In [ ]:
# Statistical values of df
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
# Bin/group by the diabetic and non-diabetic patients
df.groupby("Outcome").mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

Previous output shows that diabetic patients have much higher glucose level than non-diabetic patients

In [ ]:
# Separate target and features (Outcome vs other columns)
X=df.drop(columns="Outcome", axis=1)
Y=df["Outcome"]

In [ ]:
# Display new data and compare for standarzation
X

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

Data Standardization

In [ ]:
scale= StandardScaler()

In [ ]:
# scale data using scale method
#transform into appropriate ranges
scale.fit(X)
standard_data= scale.transform(X)

In [ ]:
print(standard_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

The data are now in same ranges (Standardized)
values in range of 0-1

In [ ]:
# Change variable 'X' to new transformed data
X=standard_data

In [ ]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Split data into training and text data
Using train_test_split method

In [ ]:
# Use 20% test data
# stratify based on Y
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3, stratify=Y, random_state=0)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (537, 8) (231, 8)

Model training

In [ ]:
classify = svm.SVC(kernel='linear')

In [ ]:
#traning the SVM classifier
classify.fit(X_train, Y_train)

SVC(kernel='linear')

Evaluate the model

Accuracy test

In [ ]:
# prediction based on training data
X_train_prediction=classify.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [ ]:
print("Accuracy score of training data: ",training_data_accuracy)

Accuracy score of training data:  0.7821229050279329

Changed random score_state in [87]. 4 gives better accuracy than 0 or 2

In [ ]:
# Accuracy score based on test data
X_test_prediction=classify.predict(X_test)
test_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [ ]:
print("Accuracy score of test data: ", test_data_accuracy)

Accuracy score of test data:  0.7705627705627706

Build predictive system

In [ ]:
input_features=(8,183,64,0,0,23.3,0.672,32)
# values in the variable are from diabetes.csv, This individual is diabetic (Model should predict 1)
# change data into nympy
input_features_numpyArray=np.asarray(input_features)

# reshape (model is trained on ~760 sample size, reshape to work for one input)
input_features_reshape = input_features_numpyArray.reshape(1,-1)

# standardize the input_features (as the raw data got stardized)
standard_data2= scale.transform(input_features_reshape)

print(standard_data2)

prediction= classify.predict(standard_data2)


if prediction==0:
  print("NON-DIABETIC")
else:
  print("DIABETIC")

[[ 1.23388019  1.94372388 -0.26394125 -1.28821221 -0.69289057 -1.10325546
   0.60439732 -0.10558415]]
DIABETIC

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

Model correctly predicted whether patient is diabetic

In [ ]:
input_features=(8,99,84,0,0,35.4,0.388,50)
# values in the variable are from diabetes.csv, This individual is non-diabetic (Model should predict 1)
# change data into nympy
input_features_numpyArray=np.asarray(input_features)

# reshape (model is trained on ~760 sample size, reshape to work for one input)
input_features_reshape = input_features_numpyArray.reshape(1,-1)

# standardize the input_features (as the raw data got stardized)
standard_data2= scale.transform(input_features_reshape)

print(standard_data2)

prediction= classify.predict(standard_data2)


if prediction==0:
  print("NON-DIABETIC")
else:
  print("DIABETIC")

[[ 1.23388019 -0.68523633  0.77001375 -1.28821221 -0.69289057  0.43246741
  -0.25331639  1.4259954 ]]
NON-DIABETIC

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"